@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 1px none red;
	color: white;
}

::-webkit-selection {
	background-color: red;
}

::-moz-selection {
	background-color: red;
}

::-ms-selection {
	background-color: red;
}

::-o-selection {
	background-color: red;
}

::selection {
	background-color: red;
}

body {
	background-color: #444;
	background: url('../img/background.png');
	min-width: 800px;
}

header {
	width: 100%;
	border-bottom: 1px solid white;
	height: 60px;
	background-color: #333;
	padding-top: 10px;
	background: url('../img/carbon_fh.png');
}

#logo {
	font-size: 2em;
	font-family: 'Segoe UI', Arial, sans-serif;
	height: 80%;
	float: left;
	margin-left: 15px;
	/*background-color: red;
	color: white;*/
}

#wrap {
	float: left;
	width: auto;
}

#userInfo {
	float: right;
	margin-right: 35px;
}

#userAvatar {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	text-align: center;
}

#userInfoBlock {
	float: left;
}

#userName {
	float: left;
	width: 100%;
	height: 48%;
	margin-bottom: 2%;
}

#notif {
	background: url(../img/btn/bell_16.png) no-repeat;
}

#money {
	background: url(../img/btn/dollar_16.png) no-repeat;
}

#logout {
	background: url(../img/btn/door_16.png) no-repeat;
}

#notif, #money{
	background-position: 7px;
}

#logout {
	background-position: 8px;
	background-color: #666;
}

.headerBtn {
	float: left;
	margin-right: 10px;
	display: inline-block;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	cursor: pointer;
	-webkit-transition: .6s ease;
    -moz-transition: .6s ease;
	-ms-transition: .6s ease;
    -o-transition: .6s ease;
	transition: .6s ease;
	position: relative;
}

.notifyCount {
	/*display: none;*/
	padding: 1px 4px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	color: white;
	font-size: 10px;
	height: 11px;
	line-height: 11px;
	min-width: 5px;
	top: -2px;
	left: 12px;
	background-color: #d00;
	text-align: center;
	position: absolute;
}

.feedbacksCount {
	top: 4px;
	left: 21px;
	font-size: 12px;
	color: #eee;
	display: none;
}

.headerBtn:hover, 
#notif:hover, 
#money:hover {
	background-color: #555;
}

#logout:hover {
	background-color: rgba(255, 0, 0, 0.7);
}

.content {
	width: 750px;
	margin: 30px auto;
	float: center;
}

#historyHeader {
	text-align: center;
	margin-bottom: 20px;
}

.matchInfoBlock {
	float: left;
	width: 100%;
}

.matchInfoRibbon {
	float: left;
	width: 100%;
	border: 1px solid #345;
	background: linear-gradient(#222 20%, #444, #222 80%);
	border-radius: 6px;
	cursor: pointer;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
}

.heroImg {
	float: left;
	height: 23px;
	width: 53px;
	margin: 2px 10px;
}

.heroName {
	display: inline-block;
	float: left;
}

.winStatus {
	float: left;
	display: inline-block;
	margin-left: 15%;
	text-shadow: 3px 3px 3px black;
}

.statusWon {
	color: #44DF44;
}

.statusLose {
	color: red;
}

.userKDA {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.playersSummary {
	display: none;
	border: 1px solid #333;
	border-top: none;
	width: 96%;
	margin: 0 2%;
	-webkit-box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	-moz-box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	-ms-box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	background-color: rgba(100, 100, 180, 0.1);
	text-align: center;
	padding-bottom: 20px;
}

.teamName {
	color: white;
	font-size: 2em;
	margin: 20px 0;
	display: inline-block;
	width: 100%;
}

.teamRadiant {
	text-shadow: 
		0 0 5px #fff, 
		0 0 10px #fff, 
		0 0 15px #fff, 
		0 0 20px #49ff18, 
		0 0 30px #49ff18, 
		0 0 40px #49ff18, 
		0 0 55px #49ff18, 
		0 0 75px #49ff18;
}

.teamDire {
	text-shadow: 
		0 0 5px #fff, 
		0 0 10px #fff, 
		0 0 15px #fff, 
		0 0 20px #d11804, 
		0 0 30px #d11804, 
		0 0 40px #d11804, 
		0 0 55px #d11804, 
		0 0 75px #d11804;
}

.cards {
	width: 100%;
}

.playerCard {
	border: 1px solid #555;
	margin: 10px 5px;
	width: 120px;
	display: inline-block;
	-webkit-box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	-moz-box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	-ms-box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	box-shadow: 8px 7px 20px -2px rgba(0,0,0,0.87);
	background-color: rgba(120, 200, 60, 0.1);
}

.playerName, .playerKDA {
	display: inline-block;
	width: 100%;
	float: left;
	margin: 10px 0;
}

.playerHeroImg {
	width: 64px;
	height: 64px;
	display: block;
	margin: 0 auto;
}

.openPlayerProfileBtn {
	padding: 3px 10px;
	display: inline-block;
	float: center;
	margin: 0 auto;
	border-radius: 7px;
	background: #cc973d;
	margin-bottom: 5px;
	cursor: pointer;
	color: black;
}

.openPlayerProfileBtn:hover {
  background: #bad13a;
}

.matchWrapper {
	width: 100%;
	float: left;
	height: 10px;
}